<html>
<head>
<title>
Regsiter here
</title>
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
<link rel="stylesheet" href="css/register.css">
</head>
<body>
<h1 class="main">regsiter here</h1>
<center>
<form action="\thank1" method="post" name="login">
<div class="m1" id="cus1">
<br><br><br><br><br><input type="text" placeholder="Username" name="name" required="required"/><br><br>
<br><input type="password" placeholder="Password" name="password" required="required" />
<br><input type="password" placeholder="Re-enter Password" name="repassword" required="required" />
<br><br><br><br><br><br>
<input type="submit" value="Regsiter"/>
<input type="button" onclick="window.location.href = '\\';" value="Login" />
<p id="sucs"></p>
</div>
</form>
<p id="id1"> <%= regresult%></p>
</center>
</body>
</html> 